#nav
    position: absolute
    top: 0
    z-index: 10
.screen
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: none

h1
    font-size: px2rem(80)
    font-weight: bold
    text-align: center

p
    font-size: px2rem(22)
    font-weight: normal
    line-height: px2rem(36)

.subtitle
    font-size: px2rem(42)
    font-weight: 100
    font-style: italic
    text-align: center