body
    background: #FFEDE9

#nav
    position: absolute
    top: 0
    z-index: 10

.screen
    position: relative
    &:not(:target)
        display: none

h1
    font-size: px2rem(80)
    font-weight: bold
    text-align: center
    font-family: "Calvino", serif
    @media (max-width : 600px)
        font-size: px2rem(50)

p
    font-size: px2rem(22)
    line-height: px2rem(36)
    font-family: "Calvino", serif
    max-width: 680px
    margin: 100px auto

.subtitle
    font-size: px2rem(42)
    font-style: italic
    text-align: center
    font-family: "Calvino", serif
    max-width: none
    margin: 30px
    line-height: 120%
    @media (max-width : 600px)
        font-size: px2rem(40)

.button
    font-family: "Calvino", serif
    font-size: px2rem(22)
    text-align: center
    text-decoration: none
    padding: 12px
    padding-left: 32px
    padding-right: 32px
    background: black
    color: white
    margin: 45%