#game
  display: block
  position: fixed
  inset: 0
  &:not(:target)
    opacity: 0
    pointer-events: none

#pop-in-city
  position: absolute
  display: block
  background-color: #E9FAFF
  padding: 50px
  display: none
  inset: 30px
  font-size: 22px
  font-weight: normal
  &.active
    display: block
    overflow-y: scroll
    scroll-behavior: smooth
  .subtitle
    color: #FF4E07
    font-size: px2rem(50)
    text-align: left
    margin-left: 0
  .baseline
    font-size: 22px
    font-weight: bold
    margin: px2rem(30) 0 0 0
  p
    margin-top: 30px
  .close 
    cursor: pointer
    position: fixed
    top: 10px
    right: 20px
    width: 40px
    height: 40px
    border: 1px solid #000
    border-radius: 50%
    text-align: center
    transition: all 200ms
    font-size: px2rem(30)
    font-weight: bold
    text-decoration: none
  blockquote
    position: relative
    font-style: italic
    font-size: 32px
    margin: px2rem(62) 0 px2rem(95) 0
    &::after
      position: absolute
      content: " ” "
      font-size: 100px
      font-style: italic
      left: 0
      margin-top: 50px
    &::before
      content: " “ "
      position: absolute
      margin-top: px2rem(-70)
      font-size: 100px
      font-style: italic
      margin-bottom: 0

  .image
    width: 500px
  @include media-breakpoint-up($md)
    max-width: 600px
    width: 60%
    top: 0
    bottom: 0
    left: auto
    right: 0
  

.game-controls
  position: fixed
  bottom: 30px
  left: 30px
  user-select: none
  button
    padding: 15px

.game-dialog
  position: fixed
  z-index: 2
  top: 0
  left: 0
  text-align: center
  background: black
  color: white
  padding: 20px
  margin-left: 65px
  transform: translateY(-100%)
  max-width: 300px
  &::after
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 10px 10px 0 0
    border-color: black transparent transparent transparent
    position: absolute
    top: 100%
    left: 0