.game-container
  position: fixed
  inset: 0

#game
  display: block
  position: fixed
  inset: 0
  z-index: 1
  &:not(:target)
    opacity: 0
    pointer-events: none
  canvas, #pop-in-city
    transition: 0.5s transform

#pop-in-city
  position: absolute
  display: block
  background-color: #E9FAFF
  padding: 50px
  inset: 30px
  font-size: 22px
  font-weight: normal
  z-index: 5
  overflow-y: scroll
  scroll-behavior: smooth

  &.active
    display: block
  .subtitle
    color: $orange
    font-size: px2rem(50)
    text-align: left
    margin-left: 0
  .baseline
    font-size: 22px
    font-weight: bold
    margin: px2rem(30) 0 0 0
  p
    margin-top: 30px
  .close 
    cursor: pointer
    position: fixed
    top: 10px
    right: 20px
    width: 40px
    height: 40px
    border: 1px solid #000
    border-radius: 50%
    text-align: center
    transition: all 200ms
    font-size: px2rem(30)
    font-weight: bold
    text-decoration: none
  blockquote
    position: relative
    font-style: italic
    font-size: 32px
    margin: px2rem(62) 0 px2rem(95) 0
    &::after
      position: absolute
      content: " ” "
      font-size: 100px
      font-style: italic
      left: 0
      margin-top: 50px
    &::before
      content: " “ "
      position: absolute
      margin-top: px2rem(-70)
      font-size: 100px
      font-style: italic
      margin-bottom: 0
  .image
    width: 500px
  @include media-breakpoint-up($md)
    max-width: 600px
    width: 60%
    top: 0
    bottom: 0
    left: auto
    right: 0
    transform: translateX(100%)
    &.active
      transform: translateX(0)


.game-controls
  position: fixed
  bottom: 30px
  left: 30px
  user-select: none
  button
    padding: 15px

.game-dialog
  background: black
  color: white
  display: none
  font-size: px2rem(20)
  font-weight: bold
  left: 0
  line-height: 130%
  margin-left: 65px
  max-width: 300px
  padding: 10px 20px 12px
  position: fixed
  top: 0
  transform: translateY(-100%)
  z-index: 2
  &::after
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 10px 10px 0 0
    border-color: black transparent transparent transparent
    position: absolute
    top: 100%
    left: 100px
  &--action
    background: $orange
    color: black
    cursor: pointer
    margin-left: 0
    &::after
      display: none

body.is-popin-opened
  .game-dialog
    display: none !important
  #game
    canvas
      transform: translateX(-300px)