#game
  display: block
  position: fixed
  inset: 0
  &:not(:target)
    opacity: 0
    pointer-events: none

#pop-in-city
  position: absolute
  display: block
  background-color: #E9FAFF
  padding: 50px
  display: none
  inset: 30px
  &.active
    display: block
    overflow-y: scroll
    scroll-behavior: auto
  .subtitle
    color: #FF4E07
    font-size: px2rem(50)
  .close 
    cursor: pointer
    position: fixed
    top: 10px
    right: 20px
    width: 40px
    height: 40px
    border: 1px solid #000
    border-radius: 50%
    text-align: center
    transition: all 200ms
    font-size: px2rem(30)
    font-weight: bold
    text-decoration: none
  .image
    width: 500px
  @include media-breakpoint-up($md)
    max-width: 600px
    width: 60%
    top: 0
    bottom: 0
    left: auto
    right: 0
  