.game
    .alice
        position: absolute
        display: block
        width: 159px
        height: 263px
        background: url('/assets/images/characters/alice/sprites.png') -10px -10px
        animation: play 0.8s steps(4) infinite
    .map
        position: absolute
        background-image: url('/assets/images/map/map.jpg')

@keyframes play
    100%
        background-position: -726px
