<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial "css.html" }}
</head>
<body>
  <main>
    <section id="home" class="screen">
      <h1>Alice au pays des cryptos</h1>
      <p class="subtitle">Une plongée sociologique, gratuite et duplicable</p>
      <p>
        Le monde des cryptos & des NFTs peut être à la fois dense et superficiel, transparent et opaque, technique et mystique. 
        Afin de guider les visiteurs et les curieux, 
        Etienne Mineur (<a href="https://volumique.com" target="_blank">Volumique</a>) et 
        Arnaud Levy (<a href="https://www.noesya.coop" target="_blank">noesya</a>) proposent un voyage critique parmi ses lieux communs, ses îlots stéréotypés et ses montagnes technologiques. 
        Ce vademecum virtuel est illustré d’images créées par une intelligence artificielle, avec l’outil Midjourney.
      </p>
      <a href="#game" class="button">Jouer</a>
    </section>
    <div class="screen game" id="game">
      <a class="button" href="#pop-in-troll">troll</a>
      <div id="pop-in-troll" class="overlay">
        <div class="pop-in-troll">
          <p>Insulte</p>
          <a class="close" href="#">&times;</a>
        </div>
      </div>
      <!-- <div id="pop-in-city"></div> -->
    </div>
  </main>
  <footer></footer>
  {{ partial "js.html" }}
</body>
</html>
